/* EJERCICIO CADENA DESCENDE Y TODOS LOS HIJOS  */

.CADENADESCENDENTE h2{
    background-color: blue;
    height: 100px;
}


.todosloshijos>div>h2{
    background-color: red;
    height: 100px;
}


/* EJERCICIO MARGIN Y PADDING  */

.mar{
    height: 200px;
    background-color: yellow;
    margin: 50px;
}

.pad{
    height: 200px;
    background-color: green;
    padding: 50px;
}


.ejercicioaquari{

    height: 500px;
    text-align: center;
    border: 2px solid;
}

@media (max-width:350px) {

    .ejercicioaquari { background-color: green;}
}
@media (max-width:616px) and (min-width: 350px) {

    .ejercicioaquari { background-color: red;}
}@media (max-width:933px) and (min-width: 616px)  {

    .ejercicioaquari { background-color: blue;}
}@media (max-width:1131px)and (min-width: 933px) {

    .ejercicioaquari { background-color: yellow;}
}






/* EJERCICIO DISPLAYS INLINE Y BLOCK  */

.seccionDisplays>p{
    background-color: orange;
}
.seccionDisplays a{
    background-color: blue;
}
.seccionDisplays h1{
    background-color: red;
}
.seccionDisplays h3{
    background-color: yellow;
}
.seccionDisplays h6{
    background-color: green;
}
.seccionDisplays div{
    background-color: black;
}



.seccionDisplaysCambio>p{
    background-color: orange;
    display: inline;
}
.seccionDisplaysCambio a{
    background-color: blue;
    display: block;
}
.seccionDisplaysCambio h1{
    background-color: red;
    display: inline;
}
.seccionDisplaysCambio h3{
    background-color: yellow;
    display: inline;
}
.seccionDisplaysCambio h6{
    background-color: green;
    display: inline; 
}
.seccionDisplaysCambio div{
    background-color: black;
    display: inline;
}
.seccionDisplaysCambio>div>p{
    display: inline;
}

/* EJERCICIO 1 */
.porcentajes{
    display: flex;
}
.seccionP1{
    width: 20%;
    border:2px solid black;
    text-align: center;
}
.seccionP2{
    width: 30%;
    border:2px solid black;
    text-align: center;
}
.seccionP3{
    width: 50%;
    border:2px solid black;
    text-align: center;
}

/* EJERCICIO 2 */

.altura {
    display: flex;
    flex-direction: column;
}

.altura1 {
    height: 100px;
    background-color: blue;
}

.altura2 {
    height: 200px;
    background-color: green;
}

.ejemplo3{
    display: flex;
}

.primerdiv{
    width: 40%;
    background-color: cadetblue;
}

.segundodiv{
    display: flex;
    width: 60%;
    background-color: hotpink;
}

.segundodiv .parrafo1{
    width: 30%;
    background-color: bisque;
}

.segundodiv .parrafo2{
    width: 70%;
    background-color: brown;
}

/* EJERCICIO PARA PRACTICAR MEDIA QUERIES */

/* CREAR UNA SECCION DE 500PX DE ALTURA CON LAS SIGUIENTES RESTRICCIONES

MENOS DE 350PX 
COLOR FONDO VERDE

MENOS DE 616PX Y MAYOR DE 350PX 
COLOR FONDO ROJO

MENOS DE 933PX Y MAYOR DE 616PX 
COLOR FONDO AZUL

MENOS DE 1131PX Y MAYOR DE 933PX 
COLOR FONDO AMARILLO

MAYOR DE 1131PX 
COLOR FONDO MARRON */

/* EJERCICO CON RELATIVE Y ABSOLUTE  */

.ejercicioAR{
    height: 500px;
    /* background-image: linear-gradient(to right,red 50%, blue 55%, green 90%); */
/* 
    background: rgba(147,206,222,1);
background: -moz-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(121,191,211,1) 36%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 59%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(36%, rgba(121,191,211,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(59%, rgba(73,165,191,1)));
background: -webkit-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(121,191,211,1) 36%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 59%);
background: -o-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(121,191,211,1) 36%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 59%);
background: -ms-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(121,191,211,1) 36%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 59%);
background: linear-gradient(135deg, rgba(147,206,222,1) 0%, rgba(121,191,211,1) 36%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 59%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
 */

    position: relative;
}

.ejercicioAR div{
    width: 40px;
    height: 40px;
    background-color: red;
    position: absolute;
    bottom: 100px;
    right: 200px;
    box-shadow: 51px 33px 76px -15px rgba(0,0,0,0.9);
}