/* EJERCICIO CADENA DESCENDE Y TODOS LOS HIJOS  */

.CADENADESCENDENTE h2{
    background-color: blue;
    height: 100px;
}


.todosloshijos>div>h2{
    background-color: red;
    height: 100px;
}


/* EJERCICIO MARGIN Y PADDING  */

.mar{
    height: 200px;
    background-color: yellow;
    margin: 50px;
}

.pad{
    height: 200px;
    background-color: green;
    padding: 50px;
}



/* EJERCICIO DISPLAYS INLINE Y BLOCK  */

.seccionDisplays>p{
    background-color: orange;
}
.seccionDisplays a{
    background-color: blue;
}
.seccionDisplays h1{
    background-color: red;
}
.seccionDisplays h3{
    background-color: yellow;
}
.seccionDisplays h6{
    background-color: green;
}
.seccionDisplays div{
    background-color: black;
}



.seccionDisplaysCambio>p{
    background-color: orange;
    display: inline;
}
.seccionDisplaysCambio a{
    background-color: blue;
    display: block;
}
.seccionDisplaysCambio h1{
    background-color: red;
    display: inline;
}
.seccionDisplaysCambio h3{
    background-color: yellow;
    display: inline;
}
.seccionDisplaysCambio h6{
    background-color: green;
    display: inline; 
}
.seccionDisplaysCambio div{
    background-color: black;
    display: inline;
}
.seccionDisplaysCambio>div>p{
    display: inline;
}

/* EJERCICIO 1 */
.porcentajes{
    display: flex;
}
.seccionP1{
    width: 20%;
    border:2px solid black;
    text-align: center;
}
.seccionP2{
    width: 30%;
    border:2px solid black;
    text-align: center;
}
.seccionP3{
    width: 50%;
    border:2px solid black;
    text-align: center;
}

/* EJERCICIO 2 */

.altura {
    display: flex;
    flex-direction: column;
}

.altura1 {
    height: 100px;
    background-color: blue;
}

.altura2 {
    height: 200px;
    background-color: green;
}

.ejemplo3{
    display: flex;
}

.primerdiv{
    width: 40%;
    background-color: cadetblue;
}

.segundodiv{
    display: flex;
    width: 60%;
    background-color: hotpink;
}

.segundodiv .parrafo1{
    width: 30%;
    background-color: bisque;
}

.segundodiv .parrafo2{
    width: 70%;
    background-color: brown;
}


