:root {
    --colorPrincipal: #F76666;
    --colorSecundario: #02052F;
    --fuentePrincipal: 'Open Sans', sans-serif;
    --fuenteBotones: "DinBold", sans-serif;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    /* background-color: var(--colorPrincipal); */
    font-family: var(--fuentePrincipal);
}


/* ESTO ME PERMITE CONSEGUIR 10PX = 1REM 
    SIN ESO 16PX = 1REM*/
/* 
h1{
    text-transform: capitalize;
    color:red;
    background-color: yellow;
    text-align: center; 
    padding-top: 30px;
    padding-bottom: 100px;
    margin-top: 200px;
    margin-bottom: 200px;
    border: 30px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7em;
    max-width: 60%;
}
/* 
.h5azul{
    color: white;
    background-color: blue;
} */

/*

.seccionPrueba h5{
    color: white;
    background-color: blue;
}

#projo{
    color: white;
    background-color: red;
}

.seccionPrueba h3{
    color: white;
    background-color: green;
}




/* EJERCICIO DE SELECTORES */

/* SELECTOR DE CLASE */

/*
.primerh3{
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}


/* SELECTOR DE ID */
/*
#segundoh3{
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}


/* SELECTOR DE ELEMENTO  */
/*
h6{
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}


/* SELECTOR DE CADENA DESCENDENTE */
/*
.ejercicioSelectores p{
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}


/* SELECTOR DE ATRIBUTO  */
/*
[src="./img/Logo-Adecco.png"]{
    background-color: yellow;
}

/* SELECTOR DE TODOS LOS HIJOS  */
/*

.ejercicioSelectores a{
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

/* SELECTOR MULTIPLE  */
/*

#segundoh3 , [src="./img/Logo-Adecco.png"]{
    background-color: green;
}
*/

/* h1{
    color: white;
    font-size: 4.5rem;
    background-color: rgba(248, 102, 102, 0.65);
    font-weight: 800;
    padding: 35px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
}  */
/* 
.ejercicioColor{
    color: var(--colorPrincipal);
} */

/* ESTILOS GENERICOS  */

.contenedor {
    max-width: 88%;

    /* margin-top:0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; */

    /* margin: 0 auto 0 auto; */

    margin: 0 auto;
}


/* ESTILOS PARA EL MAIN  */

.fondoMain {
    background-image: url(../img/11641893944_banner_zona_centro.png);
    background-size: cover;
    background-position: top left;
    padding: 80px 0 180px 0;
}

.margenDerecho {
    margin-right: 33%;
}

h1 {
    background-color: rgba(248, 102, 102, 0.65);
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    font-size: 4.5rem;
    margin-bottom: 10px;
    padding: 35px;
    color: white;
}

.fondoMain a {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 24px 94px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fuenteBotones);
    font-weight: 700;
    font-size: 1.4rem;


}

.flexMain {
    display: flex;
    flex-direction: row;
    /*POR DEFECTO ES ROW*/
    justify-content: space-between;
}


/* ESTILOS PARA LA SECCION DE IMAGEN DE CORPORACIONES  */

.logos {

    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -120px;
    border-radius: 12px;
}

/* ESTILOS SECCION CURSOS  */

.seccionCursos h3 {
    text-align: center;
    color: var(--colorPrincipal);
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin: 40px 0px;
}

.seccionCursos>h2 {
    margin-bottom: 72px;
    text-align: center;
    color: var(--colorSecundario);
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2.7rem;

}

.botonesCursos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 105px;
}

.botonVerTodo {
    background-color: var(--colorPrincipal);
    color: white;
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    padding: 12px 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid var(--colorPrincipal);
}

.botonMadrid {
    background-color: white;
    color: var(--colorSecundario);
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    padding: 12px 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid var(--colorPrincipal);
}

.cursosOfertados {
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cursosOfertados>div {

    max-width: 50%;
    flex: 2;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}

.marketing {
    background-image: url(../img/Curso-marketing-digital-centro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 15px;
}

.videojuegos {
    background-image: url(../img/Curso-programacion-videojuegos-centro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 15px;
}

.cursosOfertados h2 {

    color: white;
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 22px;

}

.cursosOfertados a {
    color: var(--colorPrincipal);
    font-size: 1.4rem;
    background-color: white;
    border: 2px solid white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 60px;
    display: inline-block;
}

/* .ejercicioMax{
    background-color: red;
    max-width: 800px;
    height: 200px;
} */

/* ESTILOS SECCION PIDENOSLO  */

.pidenoslo {
    margin-bottom: 150px;

}

.pidenoslo h3 {
    text-align: center;
    color: var(--colorSecundario);
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 40px 0;
}

.pidenoslo div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pidenoslo a {
    background-color: var(--colorPrincipal);
    color: white;
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    padding: 20px 40px;
    border-radius: 40px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid;
}


.pidenoslo a:hover {
    background-color: var(--colorSecundario);
    text-decoration: underline;
}

/* .ejercicioColumna{
   display: flex;
   flex-direction: column;
   align-items: center;

} */





/* ESTILOS SECCION VIDEO  */
.video{
    justify-content: center;
    display: flex;
    margin-bottom: 70px;
}

/* ESTILOS SECCION PARA QUIEN SON ESTOS CURSOS  */

.seccionParaQuien{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.seccionParaQuien>div{
    flex:1;
    max-width: 50%;
}

.seccionParaQuien h3{
    color:var(--colorPrincipal);
    font-family: var(--fuentePrincipal);
    font-weight: 600;
    font-size: 1.7rem;
}

.seccionParaQuien h2{
    font-family: var(--fuentePrincipal);
    color: var(--colorSecundario);
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom: 22px;
}

.paraQuienIzq{
    margin-right: 15px;
}


.seccionParaQuien p{
    font-family: var(--fuentePrincipal);
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 25px;
    line-height: 1.5;
    color: var(--colorSecundario);
}

.seccionParaQuien span{
    font-weight: 800;
}

.paraQuienIzq h4{
    font-family: var(--fuentePrincipal);
    color: var(--colorSecundario);
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.8;
}

.paraQuienIzq a{
    color: var(--colorPrincipal);
    text-transform: uppercase;
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    font-weight: 700;
}

.paraQuienIzq h5{
    font-family: var(--fuentePrincipal);
    font-weight:800;
    font-size: 1.4rem;
    line-height: 1.5; 
    color: var(--colorSecundario);
    margin-bottom: 25px;
}

.paraQuienIzq .botonInfografia{
    background-color: var(--colorPrincipal);
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    display: inline-block;

}

.paraQuienDer{
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-top: 60px;
}

.paraQuienDerSup{
    background-color: var(--colorPrincipal);
    padding: 60px 30px;
}

.paraQuienDerSup h5{
    font-family: var(--fuentePrincipal);
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
}

.paraQuienDerSup .destacarAzul{
    color: var(--colorSecundario);
}

.paraQuienDerSup span{
    color: black;
}
.paraQuienDerInf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -60px;
    margin-right: 40px;
}
.paraQuienDerInf img{
    margin-top: 10px;
    height: 40px;
    width: 40px;

}
.paraQuienDerInf h4{
    font-family: var(--fuentePrincipal);
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 40px 30px;
    text-align:left;
    width: 250px;
}
.paraQuienDerInf h4 span{
    color: var(--colorPrincipal);
}







/* ESTILOS LOCALIZACIONES  */

/* .localizaciones {
    background-color: black;
    color: white;
} */

.cajas-localizaciones{
    background-color: black;
    padding: 100px 0;
}

.cajas-localizaciones .contenedor{
    display: flex;
}

.cajas-localizaciones .contenedor div{
    width: 25%;
    padding: 24px 10px;
    color: white;
    margin: 0;
}

.cajas-localizaciones h2{
    color: white;
    font-size: 27px;
    font-weight: 700px;
    font-family: var(--fuenteBotones);
    margin-bottom: 40px;
    text-transform: uppercase;


}





/* ESTILOS CONTACTAR  */

.Contacto{
    background-color: var(--colorPrincipal);
    padding-top: 90px;
    padding-bottom: 130px;
}
.Contacto .contenedor>h3{
    color: white;
    font-size: 17px;
    margin-bottom: 22px;
    font-weight: 300;
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
}
.Contacto .contenedor>h2{
    color: white;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-weight: 800;
}
.ContactoCuadros{
    display: flex;
    flex-direction: row;
}

.ContactoCuadros img{
    margin-right: 15px;
}
.cuadro1{
    display: flex;
    background-color: white;
    margin-right: 15px;
    border-radius: 0.55rem;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    max-width: 50%;
    padding: 20px;
}
.cuadro2{
    background-color: white;
    margin-left: 15px;
    border-radius: 0.55rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    max-width: 50%;
    padding: 20px;
}















/* ESTILOS FOOTER  */

.seccionFooter{
    display:flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.enlacesFooter{
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

.enlacesFooter a{
    font-family: var(--fuentePrincipal);
    color:var(--colorSecundario);
    font-size: 1.7rem;
    font-weight: 800;
    margin-right:80px;
    line-height: 1.2;
    text-transform: uppercase;
}

.paginasLegales{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.paginasLegales a{
    font-family: var(--fuentePrincipal);
    color:var(--colorSecundario);
    font-size: 1.7rem;
    margin-right:80px;
    line-height: 1.2;

}



/* ESTILOS HEADER  */

.seccionHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}


.seccionEnlaces {

    display: flex;
    flex-direction: column;
}
.seccionLogin{

    display: flex;
    justify-content: flex-end;
}

.seccionLogin a{

    color: var(--colorPrincipal);
    font-family: var(--fuentePrincipal);
    margin-left: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.7rem;
}

.seccionLogin a:hover{
    text-decoration: underline;
}


.seccionNav a{
    color: var(--colorSecundario);
    font-family: var(--fuentePrincipal);
    margin-left: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.7rem;
    display: inline-block;
}

.seccionNav a:hover{
    text-decoration: underline;
}

.botonInformate{
    background-color: var(--colorPrincipal);
    padding: 0.6rem 1.5rem;
    border-radius: 4rem;
    color: white !important;
}

.botonInformate:hover{
    background-color: var(--colorSecundario);
    text-decoration: none !important;
}

.seccionImagen{
    display: flex;
    flex-direction: column;
    justify-content: end;
}





/* EJERCICIO

CREAR UNA SECCION CON UN DIV CON UNA ALTURA DE 300PX Y FONDO AMARILLO COMPLETAMENTE

CREAR UNA SECCION CON UN DIV CON UNA ALTURA DE 100PX Y CON LA CLASE CONTENEDOR 
FONDO AZUL. (MIRAR PIZARRA)*/

/* .fondo-amarillo{
    height: 300px;
    background-color: yellow;
}

.fondo-azul{
    height: 100px;
    background-color: blue;
} */


/* .displayInline a{
    background-color: red;
    display: block;
}

.displayBlock p{
    background-color: yellow;
    display: inline;
} */


/* .ejercicioBoxModel{
    height: 1000px;
    padding: 100px;
    border: 10px solid black;
    margin: 200px;
} */
/* 
.ejercicioFlexRow {
    height: 300px;
    width: 300px;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
}


.ejercicioFlexColumn {
    height: 300px;
    width: 300px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
} */

