
   /*
   
   

**********************
INICIO CLASE 2023/09/26 
**********************

    %%%%%%%%%%%%%%%%%%%
    REPASO DÍA ANTERIOR

        COMIENDO DE CSS, ESTRUCTURA BÁSICA

            p {             SELECTOR DE ETIQUETAS
            color:blue;     LLAVE APERTURA Y CIERRE
                            PROPIEDADES, TANTAS COMO QUERAMOS
                            VALOR DE LA PROPIEDAD
            }

            HOJAS DE ESTILOS EN CASCADA, DE ARRIBA ABAJO, APLICARÁ EL ÚLTIMO
            ESTO SE LLAMA ESPECIFICIDAD, LO VEREMOS MÁS ADELANTE

            VIMOS COMO ENLAZAR EL HTML CON EL CSS
            DOS OPCIONES:
            - DENTRO DEL HTML
            - EN UN ARCHIVO CSS A PARTE


        PROPIEDADES MÁS UTILIZADAS

            TEXT-ALIGN          ALINEACIÓN DEL TEXTO
            COLOR               COLOR DE LA TIPOGRAFIA
            BACKGROUND-COLOR    COLOR DE FONDO
            TEXT-TRANSFORM      TRANSFORMACIÓN DEL TEXTO
            MARGIN              DISTANCIA DESDE EL BORDE DE UN ELEMENTO HACIA FUERA
            PADDING             DISTANCIA DESDE EL BORDE DE UN ELEMENTO HASTA SU CONTENIDO
            FONT-FAMILY         FUENTE DEL TEXTO
            FONT-SIZE           TAMAÑO DE LA FUENTE
            BORDER              DEFINE EL BORDE DE UN ELEMENTO
            MAX-WIDTH           ANCHO MÁXIMO DE UN ELEMENTO
            MAX-HEIGHT          ALTO MÁXIMO DE UN ELEMENTO
            +DE 500 PROPIEDADES

            UNIDADES DE MEDIDA
            REM, PX Y EM
            HICIMOS MODIFICACION PARA QUE 1REM = 10PX


            SELECTORES DE CSS

            DE ELEMENTO                         p{}
            DE CLASE                            .class{} MÁS REOMENDABLE PARA CSS
            DE ID                               #id{} EL MISMO ID SOLO UNA VEZ POR PAGINA
            DE ATRIBUTO                         [src="logo.jpg"]{}
            COMBINACION DE DESCENDENTES         .ciente .nombre {}
            TODOS LOS HIJOS                     .cliente >p{}
            VARIAS                              p,h2{}

    FIN DEL REPASO
    %%%%%%%%%%%%%%   


    !!!!!!!!!!!!!!!!!!!!!
    EJERCICIO REPASO

    1- CREAR UNA NUEA CARPETA DENTRO DE FULLSTACK, A
    LA ALTURA DE PROYECTOINICIO QUE SE LLAME
    REPASOSELECTORES

    2- CREAR EL INDEX.HTML Y AÑADIR 7 SECCIONES
    
    3- SECCION1: AÑADIR UN H1 Y DAR ESTILO MEDIANTE
    UN SELECTOR DE ELEMENTOS
    VERDE, MAYUSCULAS, CENTRADO, 4REM 
    TEXTO: (SECCION1 CON SELECTOR ELEMENTO)

    4- SECCION2: AÑADIR UN H3 Y DAR ESTILO MEDIANTE
    UN SELECTOR DE CLASE (.)
    ROJO, MAYUSCULAS, CENTRADO, 4REM 
    TEXTO: (SECCION2 CON SELECTOR DE CLASE)

    5- SECCION3: AÑADIR UN P Y DAR ESTILO MEDIANTE
    UN SELECTOR DE ID (#)
    AZUL, MAYUSCULA, CENTRADO, 4REM
    TEXTO: (SECCION3 CON SELECTOR DE ID)
    
    6- SECCION4: AÑADIR UNA IMG Y DAR ESTILO MEDIANTE
    UN SELECTOR DE ATRIBUTO []
    MARGEN 50PX
    IMG: (COGER LA DE ADECCO)
    
    7- SECCION5: AÑADIR UNA CLASE A LA SECCION,
    CREAR SEIS H4 Y DAR ESTILO MEDIANTE UN SELECTOR DE 
    CADENA DESCENDENTE, PARTIENDO DE LA SECCION
    ROSA, MAYUSCULA, CENTRADO, 4REM
    TEXTO: (SECCION5 CON SELECTOR DE CADENA DESCENDENTE)
    
    8- SECCION6: AÑADIR UNA CLASE A LA SECCION,
    CREAR UN H5 Y UN DIV, DENTRO DE DIV 
    AÑADIR CUATRO H5 Y DAR ESTILO MEDIANTE UN SELECTOR DE 
    TODOS LOS HIJOS DIRECTOS, PARTIENDO DE LA SECCION
    AMARILLO, MAYUSCULA, CENTRADO, 4REM
    TEXTO: (SECCION6 CON SELECTOR DE TODOS LOS HIJOS)











    ESPECIFICIDAD EN CSS

    !!!!!!!!!!!!!!!
    PONER DIAPOSITIVA 05

    NO SIGNIFICA QUE EL ULTIMO SEA EL QUE VA A TOMAR EL NAVEGADOR
    SOLO SI ESTÁN AL MISMO NIVEL. EN CASCADA RECORDAD

    SELECTOR DE ELEMENTO < CLASE < ID < !IMPORTANT

    !IMPORTANT NO RECOMENDABLE USAR MUCHO, SOLO COMO ÚLTIMA OPCIÓN

COLORES EN CSS

    !!!!!!!!!!!!!!!
    PONER DIAPOSITIVA 06

    COLOR: BLUE; SON COLORES MUY PRIMARIOS
    HEX         HEXADECIMAL
    RGB()       RGB
    RGBA()      RGB PARA APLICAR TRANSPARENCIA. 1 OPACO, 0 TRANSPARENTE

    EN CHROME SI ABRIMOS EL INSPECTOR Y HACEMOS CLICK EN ALGUN COLOR,
    NOS INDICAN EL VALOR HEX.

    UNA BUENA PRÁCTICA ES CREAR  UNA PALETA DE COLORES
    AL INICIO DEL DOCUMENTO CSS, PARA ELLO
    HACEMOS USO DE LOS PSEUDOSELECTORES

ALMACENAR VARIABLES DE CSS ES EL OBJETIVO

    :root {
    --azulJM: #ffasff; CUSTOM PROPERTIES
    --rojoJM: #sdjkej; 
    --rosita: #BB7
    }

    p{
    color: var(--rojoJM);
    }

    ******************
    EJERCICIO
    GUARDAR LOS COLORES DE LA WEB TUCARRERADIGITAL
    QUE CONSIDEREIS NECESARIOS COMO VARIABLES
    *******************

    LA VENTAJA ES QUE YO PUEDO CAMBIAR EL COLOR EN LA
    DEFINICION DE LA VARIABLE, Y AUTOMATICAMENTE SE 
    CAMBIA EN TODA LA WEB SI HE IDO HACIENDO USO DE LAS
    VARIABLES

    OTRAS VARIABLES MUY UTILIZADA
        TAMAÑO DE LAS FUENTES
        TIPO DE FUENTE...
        TODO AQUELLO QUE VAYAMOS A REUTILIZAR A LO LARGO DE LA WEB


AÑADIR FUENTES EXTERNAS

    p{
        font-family: Arial, Helvetica, sans-serif; SI NO PUEDE CARGAR ARIAL,
        INTENTA CARGAR HELVETICA. SANS-SERIF ES EL TIPO DE FUENTE
    }

    VISUAL STUDIO TIENE FUENTES CARGADAS POR DEFECTO, PARA AÑADIR MAS
    USAMOS GOOGLE FONTS, DE MANERA GRATUITA

    PRESIONO EMBED Y ME SALEN DOS ENLACES

        PRIMERO: LINK PARA ENLAZAR EN EL HTML
        IMPORTANTE AÑADIRLA ANTES DE QUE CARGUE LA HOJA DE ESTILOS
        PUES LA VAMOS A UTILIZAR DENTRO DE LA HOJA

        SEGUNDO: font-family QUE LO PEGAMOS DONDE LO VAYAMOS A UTILIZAR
        font-weight: 400; PODEMOS PONER AQUELLOS QUE HAYAMOS CARGADO

        SOLO CARGAR LAS FUENTES QUE VAYAMOS A UTILIZAR, ES UNA MALA
        PRÁCTICA CARGAR MUCHAS FUENTES, ESTAMOS OCUPANDO RECURSOS PARA NADA


    ******************
    EJERCICIO
    IMPLEMENTAR LAS FUENTES A LA WEB
    *****************


NORMALICE



    TENEMOS QUE PROBAR LA WEB EN DIFERENTES NAVEGADORES, PUES NO
    TODOS LA MUESTRAN DEL MISMO MODO, PARA ELLO HACEMOS USO DE
    NORMALICE.CSS, QUE HARÁ QUE TODOS LOS ELEMENTOS SE VEAN DEL MISMO
    MODO EN TODOS LOS NAVEGADORES

    BUSCAMOS NORMALICE.CSS, COPIAMOS TODO EL CÓDIGO
    DESHABILITAR EL TRADUCTOR DE GOOGLE
    CTRL + A PARA SELECCIONAR TODOS

    CREAMOS UN ARCHIVO DE ESTILOS NORMALICE.CSS Y PEGAMOS TODO

    SOLO NOS FALTA ENLAZAR ESTE ARCHIVO EN EL HTML
    Y PONER PRELOAD TAMBIEN. PONER ANTES DE LA CARGA DEL
    RESTO DE HOJAS DE ESTILOS

*/