

/*
/*******************
COMIENZO CLASE 2023/10/02
*******************



    %%%%%%%%%%%%%%%%%%%%%%%%%
    REPASO DÍA ANTERIOR

        DIFERENCIA ENTRE SELECTOR DE CADENA DESCENDENTE Y DE TODOS LOS HIJOS

        DIFERENCIA ENTRE PADDING Y MARGIN

        DISPLAY BLOCK E INLINE

        USO DE JUSTIFY-CONTENT Y ALIGN ITEMS

    FLEX-WRAP ME PERMITE DECIRLE A LOS ELEMENTOS HIJOS,
    QUE CUANDO NO QUEPAN, SE VAYAN A OTRA LINEA,

    a:hover ESTILO AL PONER EL CURSOS ENCIMA

    a:visited ESTILO QUE SE QUEDA CUANDO SE HA VISITADO

    a:focus ESTILO QUE SE QUEDA CUANDO SE LLEGA AL NAVEGAR POR EL TECLADO 

    BOX MODEL

        CONTENIDO
        RELLENO
        BORDE
        MARGEN


    FIN DEL REPASO
    %%%%%%%%%%%%%%%%%%%%%%%%%



!!!!!!!!!!!!!!!!!!
EJERCICIO

CONTINUAR CON LAS SECCIONES QUE FALTAN

    PARA QUIEN SON ESTOS CURSOS

    LOCALIZACIONES

    CONTACTAR

    FOOTHER



    