/*******************
COMIENZO CLASE 2023/09/28
*******************



    %%%%%%%%%%%%%%%%%%%%%%%%%
    REPASO DÍA ANTERIOR

        MARGIN: 0 AUTO; CENTRAR CONTENIDO

        BLOCK, UNO DEBAJO DEL OTRO, LOS DIV POR EJEMPLO
        INLINE, LOS ENLACE POR EJEMPLO

        FLEX, SIEMPRE IR AL ELEMENTO PADRE

        DISPLAY: FLEX;
        FLEX-DIRECTION:ROW; POR DEFECTO
        JUSTIFY-CONTENT: space-between, space-evenly, flex-end, flex-start
        
        FLEX-DIRECTION: COLUMN;
        ALIGN-ITEMS: CENTER;

        JUSTIFY-CONTENT ALINEAR EN LA DIRECCION PRINCIPAL
        ALIGN ITEMS EN LA SECUNDARIA



    FIN DEL REPASO
    %%%%%%%%%%%%%%%%%%%%%%%%%


/*



**************
DIAPOSITIVA 09 COMO ESCRIBIR CSS

    BEM:
    DESCRIBE LOS ELEMENTOS QUE VAMOS TENIENDO
    
    UTILITY-FIRST:
    DESCRIBE LA ACCION QUE VA A LLEVAR A CABO
    
    MODULO:
    EL MAS UTILIZADO
    DEFINE CONTENIDO PRINCIPAL Y DESPUES VAS HACIA LOS ELEMENTOS HIJOS




!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
EJERCICIO

VAMOS A CONTINUAR CON LAS SECCIONES, HASTA QUE LAS TENGAMOS TODAS IGUAL










