/*******************
COMIENZO CLASE 2023/09/28
*******************



    %%%%%%%%%%%%%%%%%%%%%%%%%
    REPASO DÍA ANTERIOR

    COMO ESCRIBIR CSS 

    BEM:
    DESCRIBE LOS ELEMENTOS QUE VAMOS TENIENDO
    
    UTILITY-FIRST:
    DESCRIBE LA ACCION QUE VA A LLEVAR A CABO
    
    MODULO:
    EL MAS UTILIZADO
    DEFINE CONTENIDO PRINCIPAL Y DESPUES VAS HACIA LOS ELEMENTOS HIJOS

    FIN DEL REPASO
    %%%%%%%%%%%%%%%%%%%%%%%%%



     
    %%%%%%%%%%%%%%%%%%%%%%%%%
    PONTE AL DÍA

    CREAMOS UN NUEVO PROYECTO, QUE SE LLAME pontealdia
    Y EMPEZAREMOS A CREAR SECCIONES PARA EXPLICAR CADA UNO DE LOS PUNTOS A REFORZAR

    !!!!!!!!!!!!!!!!!!!!!!!!
    DIFERENCIA ENTRE SELECTOR DE CADENA DESCENDENTE Y DE TODOS LOS HIJOS

    CREAMOS DOS SECCIONES, CADA UNA DE ELLAS CON 3 DIV, 
    EL PRIMER DIV DE CADA SECCION CONTIENE OTRO DIV CON UN H2 (SELECTORES)
    LOS DOS DIV RESTANTES TIENEN UN H2 CADA UNO (SELECTORES)

    PONER EL FONDO DE LOS H2 DE COLOR AZUL Y HEIGHT:100PX MEDIANTE CADENA DESCENDENTE
    PARTIENDO DE LA CLASE DE LA SECCION

    PONER EL FONDO DE LOS H2 DE COLOR AZUL Y HEIGHT:100PX MEDIANTE SELECTOR TODOS LOS HIJOS
    PARTIENDO DE LA CLASE DE LA SECCION

    QUE DIFERENCIA HAY?

















    !!!!!!!!!!!!!!!!!!!!!!!!
    DIFERENCIA ENTRE PADDING Y MARGIN

    CREAMOS DOS SECCIONES, CADA UNA DE ELLAS CON UN H4 (PADDING Y MARGIN)
    LE DAMOS UNA ALTURA A CADA SECCION DE 200PX Y UN FONDO AMARILLO

    APLICAMOS UN MARGIN DE 50PX A LA PRIMERA
    APLICAMOS UN PADDING DE 50PX A LA SEGUNDA

    QUE DIFERENCIA HAY?

















    !!!!!!!!!!!!!!!!!!!!!!!!
    DISPLAY BLOCK E INLINE

    CREAMOS UNA SECCIÓN QUE CONTENGA
    PARRAFO (DISPLAYS)
    ENLACE (DISPLAYS)
    H1 (DISPLAYS)
    H3 (DISPLAYS)
    H6 (DISPLAYS)
    DIV CON UN P(DISPLAYS)

    LE DAMOS UNA CLASE A LA SECCION
    LE DAMOS COLOR DE FONDO DISTINTOS A CADA UNO CON SELECTOR DE CADENA DESCENDENTE
    A CONTINUACIÓN, DUPLICAMOS LA SECCIÓN Y LE CAMBIAMOS LA NATURALEZA A TODOS
    LOS QUE ERAN DISPLAY BLOCK-INLINE Y VICEVERSA

    QUE DIFERENCIA HAY?











    !!!!!!!!!!!!!!!!!!!!!!!!
    USO DE JUSTIFY-CONTENT Y ALIGN ITEMS

    CREAMOS DOS SECCIONES CON UN H5(FLEX) CADA UNA DE ELLAS
    LE DAMOS UN TAMAÑO A LAS SECCIONES DE ANCHO 300PX Y ALTO 300PX

    LA PRIMERA SECCION LE CREO UNA CLASE CON UN 
    FLEX-DIRECTION ROW
    JUSTIFY-CONTENT: FLEX-START;
    ALIGNT-ITEMS:END;
    COLOR FONDO VERDE

    LA SEGUNDA SECCION LE CREO UNA CLASE CON UN 
    FLEX-DIRECTION COLUMN
    JUSTIFY-CONTENT: FLEX-START;
    ALIGNT-ITEMS:END;
    COLOR FONDO AZUL



    FIN PONTE AL DÍA
    %%%%%%%%%%%%%%%%%%%%%%%%%


VAMOS A PONER https://flexboxfroggy.com/#es Y VAMOS A PASAR LOS NIVELES, HACER 4 NIVELES
CADA UNO QUE SALGA



/*

FLEX-WRAP ME PERMITE DECIRLE A LOS ELEMENTOS HIJOS,
QUE CUANDO NO QUEPAN, SE VAYAN A OTRA LINEA,
PONER IMAGEN DE FLEX-WRAP

flex: 1;
max-width: 50%;


VAMOS A VER OTRA PROPIEDAD, QUE ES EL HOVER
QUE ES EL CAMBIO DE ESTILO CUANDO PONEMOS EL 
CURSOR ENCIMA

a:hover {
    text-transform: underline;
}

a:visited COLOR QUE SE QUEDA CUANDO SE HA VISITADO

a:focus ESTILO QUE SE QUEDA CUANDO SE SELECCIONA AL NAVEGAR POR EL TECLADO 



%%%%%%%%%%%%%%%%%%%
DIAPOSITIVA 11 BOX MODEL

CONTENIDO
RELLENO
BORDE
MARGEN

COMO EVITAR ESTO Y PODER DARLE UN TAMAÑO CONCRETO AL ELEMENTO ENTERO, SIN
TENER EN CUENTA EL PADDING, MARGIN Y BORDER

EN EL HTML AÑADIR

html{
box-sizing: border-box;
}

DEBAJO

*, *:before, *:after{
box-sizing: inherit;
}


EJERCICIO BOX MODEL

CREAR UN DIV CON:

.ejercicioBoxModel{
    height: 700px;
    padding: 100px;
    border: 1px solid black;
    margin: 100px;
}

EN CSS TODO ES UNA CAJA
*/