
/**********************
INICIO CLASE 2023/09/27 
**********************

    %%%%%%%%%%%%%%%%%%%
    REPASO DÍA ANTERIOR

    ESPECIFICIDAD
    SELECTOR DE ELEMENTO < CLASE < ID < !IMPORTANT
    AL MISMO NIVEL, EN CASCADA

    COLORES EN CSS
    COLOR: BLUE; SON COLORES MUY PRIMARIOS
    HEX         HEXADECIMAL
    RGB()       RGB
    RGBA()      RGB PARA APLICAR TRANSPARENCIA. 1 OPACO, 0 TRANSPARENTE

    ALMACENAR VARIABLES DE CSS ES EL OBJETIVO
    :root {
    --azulJM: #ffasff; CUSTOM PROPERTIES
    }

    FUENTES EXTERNAS
    PRIMERO: LINK PARA ENLAZAR EN EL HTML
    IMPORTANTE AÑADIRLA ANTES DE QUE CARGUE LA HOJA DE ESTILOS
    PUES LA VAMOS A UTILIZAR DENTRO DE LA HOJA

    SEGUNDO: font-family QUE LO PEGAMOS DONDE LO VAYAMOS A UTILIZAR

    NORMALIZE
    PARA QUE LA WEB SE VEA IGUAL EN TODOS LOS NAVEGADORES
    HAY QUE DAR INDICACIONES EN EL HEAD DEL HTML, ENCIMA DE
    LA HOJA DE ESTILOS

FIN DEL REPASO
%%%%%%%%%%%%%%




/*
VAMOS A DARLE ESTILO A LAS SECCIONES,

CREAR EN CSS UN APARTADO PARA CADA SECCION


EMPEZAMOS CON EL MAIN

DEJAMOS EL HEADER PARA EL FINAL
}

PARA QUE EL CONTENIDO COMPLETO DE LA WEB TENGA SUS MARGENES
CREO UNA CLASE QUE SE LLAME CONTENEDOR
class="contenedor"


*/

/* .contenedor {}

MARGIN: 0 AUTO; CENTRAR CONTENIDO

} */
/* max-width: 114rem; /*DEFINIMOS EL ANCHO DEL CONTENEDOR*/
/* margin-top: 0; 
    margin-right: auto; CON MARGIN RIGHT Y LEFT EN AUTO CENTRAMOS
    margin-bottom:0;
    margin-left: auto; */

/*COMO AGRUPAR TODOS LOS MARGIN ANTERIORES??
    margin: 0 auto 0 auto; 
    margin: 0 auto; ES EXACTAMENTE LO MISMO*/



/***************
EJERCICIO
PONER LA MISMA CLASE CONTENEDOR PERO QUE AFECTE A TODA LA WEB
COMO LO HARÍAIS?
****************/

/*
SI OBSERVAIS TENEMOS UN PEQUEÑO PROBLEMA, PUES LA IMAGEN DE FONDO NO LLEGA HASTA 
LOS LATERALES, COMO CREES QUE SE SOLUCIONA ESTO?

HACIENDO USO DE DIV
PARA ELLO VAMOS A DEJAR DE APLICAR LA CLASE CONTENEDOR A TODA LA WEB

PONER EJEMPLO DE a y p CON COLOR DE FONDO

!!!!!!!!!!!!!!!!!!!
DIAPOSITIVA 07
DISPLAY BLOCK E INLINE




LOS ELEMENTOS POR DEFECTO TIENEN ASIGNADOS BLOCK O INLINE

BLOCK, UNO DEBAJO DEL OTRO, LOS DIV POR EJEMPLO
INLINE, LOS ENLACE POR EJEMPLO

NINGUN ELEMENTO TIENE POR DEFECTO DISPLAY FLEX O GRID,
LO VEREMOS MÁS ADELANTE


DIFERENCIA ENTRE PADDING Y MARGIN
APLICAMOS UN COLOR DE FONDO A TODO EL NAV
DESPUES JUGAMOS CON MARGIN-TOP Y PADDING-TOP


TEXT-DECORATION:NONE PARA ELIMINAR LA LINEA DE DEBAJO DEL ENLACE
nav {
background-color: #fff;
padding-top: 15px;
padding-bottom: 10px;
}
CREAMOS UN DIV QUE SERÁ UN CONTENEDOR PARA CENTRAR EL NAV
A CONTINUACION CREAMOS OTRO DIV DENTRO, EL CUAL ME ESTRUCTURA EL
NAV
ESTE DIV TIENE UN TRATAMIENTO ESPECIAL, PUES ES UN DISPLAY FLEX


***************
PONER DIAPOSITIVA 08 DE FLEX BOX


COMO FUNCIONA FLEX, SIEMPRE IR AL ELEMENTO PADRE
NUESTRO ELEMENTO PADRE ES EL SEGUNDO DIV QUE CREAMOS
DISPLAY: FLEX;
FLEX-DIRECTION:ROW; POR DEFECTO
JUSTIFY-CONTENT: space-between, space-evenly, flex-end, flex-start
PROBAR CADA UNO DE ELLOS MOSTRAR IMAGEN NAVEGADOR

*/

/* .FondoAmarillo {
background-color: yellow;
padding-top: 3rem;
padding-bottom: 3rem;
display: flex;
flex-direction: row; /*POR DEFECTO*/
/* justify-content:center; FUNCIONA CON DIRECCION PPAL */
/* } */ 


/* .FondoRojo {
background-color: rgb(255, 0, 0);
padding-top: 3rem;
padding-bottom: 3rem;
display: flex;
flex-direction: column;
align-items: center; /* FUNCIONA CON DIRECCION SECOND*/
/*
} */
/*

