/*******************
COMIENZO CLASE 2023/10/05
*******************



    %%%%%%%%%%%%%%%%%%%%%%%%%
    REPASO DÍA ANTERIOR

    APP RESPONISVELY

    VER COMO AÑADIR CODIGO DESDE CSS SIN PODER SELECCIONARLO
    SON PSEUDOELEMENTOS, NO SE PUEDEN VER EN EL HTML

    .clase:after {
        content:'Poner Texto'
    }

    USO DE RELATIVE Y ABSOLUTE
        RELATIVE AL PADRE, REFERENCIA
        ABSOLUTE AL HIJO

    COMO ORGANIZAR EL CÓDIGO EN CSS

        DE LO MÁS GENÉRICO A LO MÁS ESPECIFICO
        LAS CLASES ORGANIZARLAS POR SECCIONES

        ROOT
        HTML
        BODY
        H1, H2, H3, P...
        CLASES, IRLAS AGRUPANDO POR SECCIONES, HEADER, BANNER, CURSOS...

    DEGRADADO Y SOMBRAS EN CSS CON CSSMATIC
        BACKGROUND-IMAGE: LINEAR GRADIENT ( TO TOP, 0% WHITE, 100% RED)
        box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);

    CON CSSMATIC PODIAMOS GENERAR EL CÓDIGO DIRETAMENTE

    CANIUSE PARA VER LA COMPATIBILIDAD DE LAS PROPIEDADES EN NAVEGADORES


    FIN DEL REPASO
    %%%%%%%%%%%%%%%%%%%%%%%%%




CSS GRID

!!!!!!!!!!!!!!!
DIAPOSITIVA 12

display:grid;
grid-template-row: 200px 200px;
grid-template-columns: 300px 300px;

grid: 200px 200px / 300px 300px; ABREVIAR LO ANTERIOR, LO MISMO

PODEMOS PONER UNIDADES DE MEDIDAS EN PORCENTAJE

grid: 50% 50% / 50% 50%;

TAMBIEN CON FRACCIONES FR

grid: 1fr 1fr / 1fr 1fr;

OTRA ALTERNATIVA

grid: repeat(2, 1fr) / repeat(2, 1fr);


!!!!!!!!!!!!!
EJERCICIO
CREAR LOS BLOQUES DE LA PIZARRA. 3 COLUMNAS, 2 FILAS CON GRID
______________________
|   |       |         |  
|   |       |         |
|___|_______|_________|
|   |       |         |
|___|_______|_________|

CUANDO USAR FLEX O GRID








!!!!!!!!!!!!!!!!!!!
DIAPOSITIVA 13

FLEX: ELEMENTOS DENTRO DE CONTENEDORES
GRID: DISTRIBUIR CONTENEDORES

DISTANCIA ENTRE CONTENEDORES
COLUMN-GAP: 10PX;
ROW-GAP: 10PX;

VAMOS HACER LA WEB RESPONSIVE CON GRID

FINALMENTE VER NETLIFY PARA SUBIR EL PROYECTO
GRATUTIO
SERVIDOR PARA COMPARTIR PROYECTOS CON OTRAS PERSONAS

SIGN UP PARA CREAR NUEVA CUENTA
SUBIMOS LA CARPETA COMPLETA DEL PROYECTO

PODEMOS COMPARTIR LA URL

CAMBIAR NOMBRE ProyectoInicioJoseManuelBarbosa

