
/*
/*******************
COMIENZO CLASE 2023/10/02
*******************



    %%%%%%%%%%%%%%%%%%%%%%%%%
    REPASO DÍA ANTERIOR

    PREPARAMOS LAS SECCIONES 

    PARA QUIEN SON ESTOS CURSOS

    LOCALIZACIONES

    CONTACTAR

    FIN DEL REPASO
    %%%%%%%%%%%%%%%%%%%%%%%%%


    !!!!!!!!!!!!!!!!!!
    EJERCICIO

    MIRAR EJEMPLOS DE LA PIZARRA.
        EJEMPLO1: UNA SECCION CON 3 DIV EN FILA 20% 30% 50% CON P CADA UNO

        EJEMPLO2: UNA SECCION CON 2 DIV EN COLUMNA 100PX 200PX Y UN P CADA UNO

        EJEMPLO3: UNA SECCION CON 2 DIV EN FILA DE 40% 60%
        EL PRIMERO CON UN H3
        EL SEGUNDO CON DOS P AL 50% CADA UNO



!!!!!!!!!!!!!!!!!!
EJERCICIO
PONER EL FOOTER Y EL HEADER CON FLEXBOX CORRECTAMENTE
TIENE QUE QUEDAR EXACTAMENTE IGUAL

VISUALIZAR MENU EN DISPOSITIVOS

*******************


DIAPOSITIVA 10. RESPONSIVE DESIGN

@media (min-width: 480px) {
    body{
        background-color:blue;
    }
}

@media (min-width: 768px) {
    body{
        background-color:yellow;
    }
}

LO QUE COLOQUEMOS FUERA DE LOS MEDIAQUERIES SE APLICA
A TODO, EN MEDIAQUERY SOLO COLOCAMOS LO QUE VA A MODIFICAR
EL DISEÑO. PONER EJEMPLO DE TEXTO FUERA DEL MEDIAQUERY

TAMAÑOS QUE SE UTILIZAN CON FRECUENCIA
PONER IMAGEN

    MOVIL: 480PX

    TABLET: 768PX

    ORDENADOR: 1140PX

SON TAMAÑOS ACONSEJADOS, PERO PODEIS UTILIZAR LOS QUE
QUERÁIS


VAMOS A VER UNA APP RESPONSIVELY, QUE ME PERMITIRÁ
VER DE UN VISTAZO COMO SE ADAPTA MI WEB A LOS
DISTINTOS TAMAÑOS DE PANTALLA


!!!!!!!!!!!!!!!!!
EJERCICIO
AJUSTAR EL MAIN AL RESPONSIVE DESIGN

NOTAS:
    max-width



