/*******************
COMIENZO CLASE 2023/09/28
*******************



    %%%%%%%%%%%%%%%%%%%%%%%%%
    REPASO DÍA ANTERIOR

        MARGIN: 0 AUTO; CENTRAR CONTENIDO

        BLOCK, UNO DEBAJO DEL OTRO, LOS DIV POR EJEMPLO
        INLINE, LOS ENLACE POR EJEMPLO

        FLEX, SIEMPRE IR AL ELEMENTO PADRE

        DISPLAY: FLEX;
        FLEX-DIRECTION:ROW; POR DEFECTO
        JUSTIFY-CONTENT: space-between, space-evenly, flex-end, flex-start
        
        FLEX-DIRECTION: COLUMN;
        ALIGN-ITEMS: CENTER;

        JUSTIFY-CONTENT ALINEAR EN LA DIRECCION PRINCIPAL
        ALIGN ITEMS EN LA SECUNDARIA



    FIN DEL REPASO
    %%%%%%%%%%%%%%%%%%%%%%%%%


/*



**************
DIAPOSITIVA 09 COMO ESCRIBIR CSS

    BEM:
    DESCRIBE LOS ELEMENTOS QUE VAMOS TENIENDO
    
    UTILITY-FIRST:
    DESCRIBE LA ACCION QUE VA A LLEVAR A CABO
    
    MODULO:
    EL MAS UTILIZADO
    DEFINE CONTENIDO PRINCIPAL Y DESPUES VAS HACIA LOS ELEMENTOS HIJOS




!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
EJERCICIO

VAMOS A CONTINUAR CON LAS SECCIONES, HASTA QUE LAS TENGAMOS TODAS IGUAL


    FLEX-WRAP ME PERMITE DECIRLE A LOS ELEMENTOS HIJOS,
    QUE CUANDO NO QUEPAN, SE VAYAN A OTRA LINEA,
    PONER IMAGEN DE FLEX-WRAP

    flex: 66.66%;
    max-width: 66.66%;


    VAMOS A VER OTRA PROPIEDAD, QUE ES EL HOVER
    QUE ES EL CAMBIO DE ESTILO CUANDO PONEMOS EL 
    CURSOR ENCIMA

    a:hover {
        text-transform: underline;
    }

    a:visited COLOR QUE SE QUEDA CUANDO SE HA VISITADO

    a:focus ESTILO QUE SE QUEDA CUANDO SE SELECCIONA AL NAVEGAR POR EL TECLADO 


    !!!!!!!!!!!!!!!!!!
    EJERCICIO
    PONER EL MENÚ CON FLEXBOX CORRECTAMENTE
    TIENE QUE QUEDAR EXACTAMENTE IGUAL

    VISUALIZAR MENU EN DISPOSITIVOS

    *******************


    DIAPOSITIVA 10. RESPONSIVE DESIGN

    @media (min-width: 480px) {
        body{
            background-color:blue;
        }
    }

    @media (min-width: 768px) {
        body{
            background-color:yellow;
        }
    }

    LO QUE COLOQUEMOS FUERA DE LOS MEDIAQUERIES SE APLICA
    A TODO, EN MEDIAQUERY SOLO COLOCAMOS LO QUE VA A MODIFICAR
    EL DISEÑO. PONER EJEMPLO DE TEXTO FUERA DEL MEDIAQUERY

    TAMAÑOS QUE SE UTILIZAN CON FRECUENCIA
    PONER IMAGEN

        MOVIL: 480PX

        TABLET: 768PX

        ORDENADOR: 1140PX

    SON TAMAÑOS ACONSEJADOS, PERO PODEIS UTILIZAR LOS QUE
    QUERÁIS


    VAMOS A VER UNA APP RESPONSIVELY, QUE ME PERMITIRÁ
    VER DE UN VISTAZO COMO SE ADAPTA MI WEB A LOS
    DISTINTOS TAMAÑOS DE PANTALLA


    !!!!!!!!!!!!!!!!!
    EJERCICIO
    AJUSTAR EL MAIN AL RESPONSIVE DESIGN

    NOTAS:
        max-width


    TRABAJAR CON IMAGENES EN CSS

    TENÍAMOS UNA IMAGEN DE FONDO CON CSS

    background-image: url();
    background-repeat: no-repeat;
    backgound-size: cover;


    
    EJERCICIO BOX MODEL

    CREAR UN DIV CON:

    .ejercicioBoxModel{
        height: 700px;
        padding: 100px;
        border: 1px solid black;
        margin: 100px;
    }

    EN CSS TODO ES UNA CAJA


    %%%%%%%%%%%%%%%%%%%
    DIAPOSITIVA 11 BOX MODEL

    CONTENIDO
    RELLENO
    BORDE
    MARGEN

COMO EVITAR ESTO Y PODER DARLE UN TAMAÑO CONCRETO AL ELEMENTO ENTERO, SIN
TENER EN CUENTA EL PADDING, MARGIN Y BORDER

EN EL HTML AÑADIR

box-sizing: border-box;

DEBAJO

*, *:before, *:after{
    box-sizing: inherit;
}

    









